$font_content: 17px;
$font_title: 45px;
@font-face {
    font-family: 'font';
    src: url("../fonts/OscineTrial-Light/OscineTrial-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OscineTrial-Light/OscineTrial-Light.woff") format("woff"), url("../fonts/OscineTrial-Light/OscineTrial-Light.ttf") format("truetype"), url("../fonts/OscineTrial-Light/OscineTrial-Light.svg#OscineTrial-Light") format("svg");
    font-weight: normal;
    font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}
body, html {
    box-sizing: border-box;
    font-size: $font_content;
    font-family: 'font';
    overflow-x: hidden; 
}

.plr-md-0 {
  padding: 0;
}

.mlr-md-0 {
  margin: 0;
}

svg {
  width: 100%;
}
.footer-widget {
    height: 100%;
    width: 100%;
}
img {
  object-fit: cover;
}
ul{
  margin-bottom: 0;
}

ul li{
  list-style: none;
}

a:hover{
  text-decoration: none;
}

@media (max-width: 768px){
  .plr_sm_0{
    padding: 0;
  }
}
.main-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  overflow: hidden;
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}
.menu_support{
  background: #000000;
  width: 100%;
  position: relative;
    .menu_support_left{
        ul{
          display: flex;
           li{
            padding: 0px 10px;
           }
        }
    }
    .menu_support_right{
      position: absolute;
      top: 0;
      right: 0%;
        ul{
          display: flex;
            li{
              border-left: 1px solid #ffffff;
                a{
                  color: #ffffff;
                  padding: 2px 15px;
                  font-size: 12px;
                  transition: 0.3s ease;
                    &:hover{
                      color: #0CB1AF;
                    }
                }
            }
        }
    }
}
.menu{
  position: relative;
  background: #333435;
  padding: 15px 0;
  width: 100%;
  .show_trang_menu{
    opacity: 0;
    visibility: hidden;
  }
  a, .show_trang_menu{
    color: #ffffff;
  }
  .logo{
    display: inline-block;
    margin: 0 20px;
    img{
      width: 100px;
    }
  }
  > section{
    display: inline-block;
  }
  ul{
    display: flex;
    align-items: center;
      li{
        a, .show_trang_menu{
          padding: 0 20px;
          color: #ffffff;
          transition: 0.15s ease;
          &:hover{
            color: #0CB1AF;
          }
        }
      }
  }
  article{
    display: flex;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);
      .notification{
        background: url('../images/tn.png');
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 0 7px;
        color: #000000;
      }
      section{
        margin-right: 30px;
        color: #ffffff;
      }
      div a{
        padding: 7px 10px;
        border: #ffffff 1px solid;
        border-radius: 20px;
        -webkit-transition: all .25s ease;
           -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
             -o-transition: all .25s ease;
                transition: all .25s ease;
        &:hover{
          background: #ffffff;
          color: #333435;
        }
      }
  }
}

.button_menu_mobile{
  position: fixed;
  top: 10px;
  left: 10px;
  width: 30px;
  padding: 2px;
  cursor: pointer;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
    article{
      width: 100%;
      height: 2px;
      background: #ffffff;
      margin-bottom: 4px;
      transition: 0.5s ease;
    }
}

.show_menu_mobile{
  .button_menu_mobile{
    article{
      &:nth-child(1){
        transform: translate(0, 7px) rotate(-405deg);
      }
      &:nth-child(2){
        transform: translateX(-100px);
      }
      &:nth-child(3){
        transform: translate(0, -5px) rotate(45deg);
      }
    }
  }
}
.background_black_menu{
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  visibility: hidden;
}
.show_menu_mobile .background_black_menu{
  opacity: 1;
  visibility: visible;
}
@media (max-width: 768px){
  .button_menu_mobile{
    opacity: 1;
    visibility: visible;
  }
  .menu_support_left{
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .menu_support .menu_support_right{
    position: fixed;
    top: 30%;
    left: 45vw;
    transform: translate(0);
    background: #333435;
    padding: 10px 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
      ul{
        display: block;
        li {
          border-left: none;
          line-height: 2rem;
          a {
            padding: 2px 7px;
            font-size: 15px;
          }
        }
      }
  }
  .menu_support .menu_support_right.show_menu_support_right{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .menu{
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 40px;
    background: none;
    padding-top: 0;
    height: 0;
    background: #333435;
    .show_trang_menu{
      opacity: 1;
      visibility: visible;
    }
    .logo{
      position: fixed;
      top: 5px;
      left: 50%;
      transform: translate(-50%, 0);
      margin: 0;
      z-index: 1;
      img{
        width: 70px;
      }
    }
    > section{
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
      transition: 0.7s ease-in-out;
    }
    ul{
      display: block;
      width: 45vw;
      height: 100vh;
      background: #333435;
      padding-top: 50%;
        li{
          line-height: 2.5rem;
        }
      }
      > article{
        top: 5px;
        transform: translate(0, 0);
        justify-content: center;
        align-items: center;
        section{
          margin-right: 15px;
        }
        div a{
          padding: 2px 5px;
          font-size: 12px;
        }
      }
    }
    .show_menu_mobile.main-menu .menu > section{
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
    .menu article .notification{
      font-size: 12px;
      padding: 0 5px;
    }

}

@media (max-width: 320px){
  .menu ul li a,
  .menu ul li .show_trang_menu{
    font-size: 12px;
  }
}


.heigth_menu{
  width: 100%;
}

.search{
  width: 100%;
  background: #0cb1af;
  padding-top: 20px;
  padding-bottom: 30px;
    input{
      padding: 10px 15px; 
      width: 40vw;
      outline: none;
    }
    select{
      outline: none;
      padding: 14px 20px;
      option{
        padding: 14px 15px;
      }
    }
    button{
      outline: none;
      padding: 10px 20px;
      border: none;
      background: #333435;
      color: #ffffff;
      transition: 0.15s ease;
        &:hover{
          background: #ffffff;
          color: #333435;
        }
    }
    > section{
      width: 80%;
      margin: auto;
    }
    article{
      display: block;
      color: #ffffff;
    }
}


@media(max-width: 768px){
  .search{
    padding-top: 60px;
      article{
        margin-top: 5px;
        font-size: 12px;
      }
  }
  .search > section{
    form{
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
    }
    label{
      &:nth-child(1){
        width: 100%;
      }
      &:nth-child(2){
          width: 50%;
          select{
            padding: 5px;
            width: 96%;  
          }
          
      }
      &:nth-child(3){
          width: 50%;
          select{
            padding: 5px;
            width: 100%;  
          }
          
      }
      input{
        width: 100%;
        padding: 3px 5px;
      }
    }
    button{
      width: 100%;
      padding: 3px 5px;
    }
  }
}









.home_slide_header{
  position: relative;
    img{
      width: 100%;
    }
    .next_prev_home_slide_header{
      article{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        cursor: pointer;
        z-index: 10;
        width: 60px;
        height: 60px;
        background: rgba(0,0,0,0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.25s ease;
           -moz-transition: all 0.25s ease;
            -ms-transition: all 0.25s ease;
             -o-transition: all 0.25s ease;
                transition: all 0.25s ease;
        &:hover{
          background: rgba(0,0,0,0.7);

        }
        svg{
          width: 50%;
          height: 70%;
        }
        &:nth-child(1){
          left: 1%;
            .cls-1{
              fill: #ffffff;
            }
        }
        &:nth-child(2){
          right: 1%;
            .cls-1{
              fill: #ffffff;
            }
        }
      }
    }
    &:hover .next_prev_home_slide_header article{
      opacity: 1;
      visibility: visible;
    }
    .slick-dots{
      bottom: 5px;
        li button:before{
          font-size: 12px;
        }
    }

}




/* *************************************************** */
/* Việc làm tốt nhất */

.work_home{
  padding: 0 40px;
  margin-top: 60px;
  > article{
    position: relative;
    div{
      &:nth-child(1){
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.2rem;
        span{
          font-size: 15px;
          font-weight: 300;
          text-transform: none;
        }
      }
        ul{
          display: flex;
          justify-content: flex-end;
          li{
            margin-left: 10px;
            padding: 2px 5px;
            border: 1px solid #333435;
            cursor: pointer;
            transition: 0.25s ease;
              &:hover{
                box-shadow: 0 0 5px 2px rgba(0,0,0,0.25);
              }
              &:active{
                box-shadow: 0 0 2px 1px rgba(0,0,0,0.15);
              }
          }
          li.active_viec-lam-tot-nhat{
            background: #333435;
            color: #ffffff;
          }
        }
    }
  }
  .content_work_home{
    margin-top: 30px;
    padding: 0 0px;
  }
  .once_cong_viec{
    height: 85%;
    background: #f9fbfc;
    padding: 10px 10px;
    margin: 0 5px;
    margin-bottom: 25px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.20);
    transition: 0.3s ease;
    &:hover{
      box-shadow: 0 0 13px 6px rgba(0, 0, 0, 0.26);
    }
    &:active{
      box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.26);
    }
      .image_once_cong_viec{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
      }
      .content_once_cong_viec{
        > section{
          &:nth-child(1){
            font-size: 15px;
            color: #0cb1af;
          }
          &:nth-child(3){
            font-size: 12px;
            color: #b2b2b2;
            svg{
              width: 12px;
              margin-bottom: 5px;
              margin-right: 4px;
                .cls-1{
                  fill: #b2b2b2;
                }
            }
          }
        }
        > article{
          font-size: 20px;
          color: #333435;
          font-weight: 600;
          margin: 5px 0;
        }
        > div{
          display: flex;
          justify-content: space-between;
           > section{
            font-size: 15px;
            display: flex;
            align-items: center;
            svg{
              width: 12px;
              margin-bottom: 5px;
              margin-right: 5px;
            }
            &:nth-child(1){
              margin-right: 30px;
              color: #ff9f1a;
              #Layer_tienluongcongviec .cls-1{
                fill: #ff9f1a;
              }
            }
            &:nth-child(2){
              margin-right: 30px;
              color: #3ae374;
              #Layer_nguoicantuyen .cls-1{
                fill: #3ae374;
              }
            }
           }
        }
      }
  }
  > section{
    display: flex;
    justify-content: center;
      div{
        display: block;
        padding: 4px 20px;
        border: 1px solid #0CB1AF;
        font-weight: 600;
        color: #0CB1AF;
        cursor: pointer;
        transition: 0.25s ease;
        &:hover{
          background: #0CB1AF;
          color: #ffffff;
        }
      }
  }
}

@media (max-width: 768px){
  .work_home{
    padding: 0 15px;
    margin-top: 25px;
    > article{
      div{
        &:nth-child(1){
          margin-bottom: 10px; 
          font-size: 20px;
          line-height: 1rem;
          span{
            font-size: 12px;
          }
        }
          ul{
            li{
              margin-left: 5px;
              padding: 1px 2px;
              font-size: 12px;
            }
          }
      }
    }
    .content_work_home{
      margin-top: 20px;
    }
    .once_cong_viec{
      padding: 10px 5px;
      margin: 0 5px;
      margin-bottom: 20px;
      box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.20);
      &:hover{
        box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.20);
      }
      &:active{
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.26);
      }
        .content_once_cong_viec{
          > section{
            &:nth-child(1){
              font-size: 12px;
            }
            &:nth-child(3){
              svg{
                width: 10px;
              }
            }
          }
          > article{
            font-size: 15px;
            margin: 3px 0;
          }
          > div{
             > section{
              font-size: 12px;
             }
          }
        }
    }
    > section{
        div{
          padding: 2px 15px;
          font-size: 12px;
          &:hover{
            background: #0CB1AF;
            color: #ffffff;
          }
        }
    }
  }
}



/* ********************************************************** */
/* CHÚNG TÔI CÓ THỂ GIÚP GÌ CHO BẠN */

.services{
  padding: 0 30px;
  > article{
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
  }
  .once_services{
    margin-top: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
    cursor: default;
    &:nth-child(1){
      .content_once_services{
        background: #ff8a66;
      }
    }
    &:nth-child(2){
      .content_once_services{
        background: #f35e80;
      }
    }
    &:nth-child(3){
      .content_once_services{
        background: #26bb96;
      }
    }
    &:nth-child(4){
      .content_once_services{
        background: #ac6bff;
      }
    }
  }
  .footer-widget {
    height: 100%;
    width: 100%;
  }
  .content_once_services{
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.25);
      >article{
        display: flex;
        align-items: center;
        > div{
          width: 10%;
        }
        > section{
          padding-left: 10%;
          font-size: 25px;
          color: #ffff3e;
          font-weight: 600;
        }
      }
      > section{
        padding: 0 30px;
        font-size: 20px;
        margin-top: 40px;
        color: #ffffff;
      }
  }
}



@media (max-width: 768px){
  .services{
    padding: 0 15px;
    > article{
      font-size: 20px;
      font-weight: 600;
      margin-top: 20px;
    }
    .once_services{
      padding: 0 10px;
      margin-bottom: 3px;
    }
    .content_once_services{
      border-radius: 10px;
      box-shadow: 0 0 5px 2px rgba(0,0,0,0.16);
      padding: 0;
        >article{
          display: block;
          > div{
            width: 40px;
            margin: auto;
            padding-top: 15px;
            margin-bottom: 10px;
          }
          > section{
            font-size: 20px;
          }
        }
        > section{
          padding: 0 10px;
          font-size: 12px;
          margin-top: 5px;
          margin-bottom: 10px;
          color: #ffffff;
        }
    }
  }
}





/* *******************************8 */
/* THÔNG SỐ */
.thong_so{
  margin-top: 40px;
  padding: 0 50px;
    .once_thong_so{
      display: block;
      background: #ECECEC;
      box-shadow: 0 0 13px 6px rgba(0,0,0,0.25);
      margin-right: 50px;
      padding: 20px;
      cursor: default;
      transition: 0.25s ease;
      &:hover{
        box-shadow: 0 0 13px 6px rgba(0,0,0,0.4);
      }
      &:hover svg .cls-1{
        fill: #0CB1AF;
      }
        > section{
          width: 50px;
          margin: auto;
          margin-bottom: 30px;
        }
        article{
          text-align: center;
          div{
            font-weight: 600;
            font-size: 50px;
            color: #0CB1AF;
            line-height: 2.2rem;
          }
          section{
            color: #333435;
          }
        }
    }
    > div:nth-child(4){
      .once_thong_so{
        margin-right: 0;
      }
    }
}

@media (max-width: 768px){
  .thong_so{
    margin-top: 20px;
    padding: 0 20px;
    .col-3{
      padding: 7px;
    }
      .once_thong_so{
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
        padding: 5px 0;
        width: 100%;
        height: 100%;
        &:hover{
          box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
        }
          >section{
            width: 35px;
            margin-bottom: 10px;
          }
          article{
            div{
              font-size: 25px;
              line-height: 1.7rem;
            }
            section{
              font-size: 10px;
              line-height: 0.9rem;
            }
          }
      }
  }
}



/* ******************************************************** */
/* DANH SÁCH CÔNG VIỆC */

.danh_sach_cong_viec_home{
  margin-top: 50px;
  padding: 0 30px;
    > article{
      margin-bottom: 30px;
      text-align: center;
      line-height: 1.5rem;
        > section{
          font-size: 35px;
          font-weight: 600;
        }
    }
    .once_danh_sach_cong_viec_home{
      margin-bottom: 20px;
      > a > section{
        width: 190px;
        height: 190px;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        box-shadow: 0 0 10px 4px rgba(0,0,0,0.3);
        &:hover{
          box-shadow: 0 0 12px 5px rgba(0,0,0,0.5);
        }
        .background_image_danh_sach_cong_viec_home{
          width: 100%;
          height: 100%;
          transition: 1s ease;
          img{
            width: 100%;
            height: 100%;
          }
        }
        &:hover .background_image_danh_sach_cong_viec_home{
          transform: scale(1.5);
        }
        > article{
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0,0,0,0.5);
          width: 100%;
          height: 100%;
          transition: 0.25s ease;
        }
        &:hover > article{
          background: rgba(0,0,0,0.8);
        }
        > section{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          z-index: 2;
          color: #ffffff;
          width: 100%;
            .xem_cong_viec_home{
              font-size: 20px;
              margin-bottom: 10px;
              height: 0;
              opacity: 0;
              transition: 0.4s ease-in-out;
              transform: scale(0);
            }
            > div{
              font-size: 15px;
            }
        }
      }
      > a > section:hover .xem_cong_viec_home{
        height: auto;
        opacity: 1;
        transform: scale(1);
      }
    }
    > section{
      margin-top: 20px;
      display: flex;
      justify-content: center;
        div{
          display: block;
          padding: 4px 20px;
          border: 1px solid #0CB1AF;
          font-weight: 600;
          color: #0CB1AF;
          cursor: pointer;
          transition: 0.25s ease;
          &:hover{
            background: #0CB1AF;
            color: #ffffff;
          }
        }
    }
}

@media (max-width: 768px){

  .danh_sach_cong_viec_home{
    margin-top: 30px;
    padding: 0 15px;
      > article{
        margin-bottom: 15px;
          > section{
            font-size: 25px;
          }
      }
      .once_danh_sach_cong_viec_home{
        margin-bottom: 15px;
        > a > section{
          width: 160px;
          height: 160px;
          box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
          &:hover{
            box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
          }
          > section{
              .xem_cong_viec_home{
                font-size: 15px;
                margin-bottom: 5px;
              }
              > div{
                font-size: 12px;
              }
          }
        }
      }
  }
}

@media (max-width: 320px){
  .danh_sach_cong_viec_home{
      .once_danh_sach_cong_viec_home{
        > a > section{
          width: 140px;
          height: 140px;
        }
      }
  }
}





/* ********************************************************** */
/* THÔNG TIN THÊM */


.thong_tin_them{
  margin-top: 40px;
  padding: 30px;
    .once_thong_tin_them_left{
      .thong_tin_them_left{
        background: url('../images/images.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 40px;
        position: relative;
        box-shadow: 0 0 10px 4px rgba(0,0,0,0.25);
        .background_fillter_thong_tin_them{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(12, 177, 175 ,0.8);
        }
        > article{
          font-size: 20px;
          line-height: 1.5rem;
          font-weight: 600;
          color: #ffff3e;
          margin-bottom: 20px;
          position: relative;
          z-index: 1;
          span{
            font-weight: 300;
            font-size: 12px;
            text-transform: uppercase;
            color: #ffffff;
          }
        }
        > section{
          position: relative;
          z-index: 1;
          color: #ffffff;
          font-size: 15px;
          > article{
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
              a{
                padding: 2px 15px;
                color: #ffffff;
                border: 1px solid #ffffff;
                transition: 0.2s ease;
                  &:hover{
                    background: #ffffff;
                    color: #0CB1AF;
                  }
              } 
          }
        }
      }
    }
    .once_thong_tin_them_right{
      .thong_tin_them_right{
        background: url('../images/thong-tin-1.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100%;
        position: relative;
        box-shadow: 0 0 10px 4px rgba(0,0,0,0.25);
          > section{
            background: rgba(255,255,255,0.9);
            border-top: 2px solid #0CB1AF;
            box-shadow: 0 0 7px 3px rgba(0,0,0,0.25);
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translate(0, -50%);
            width: 50%;
            padding: 15px 20px;
              > article{
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 1.5rem;
                  span{
                    text-transform: none;
                    font-size: 13px;
                    color: #0CB1AF;
                  }
              }
              > div{
                margin: 5px 0;
                ul{
                  display: flex;
                  li{
                    width: 30px;
                    height: 30px;
                    background: #c56cf0;
                    border-radius: 50%;
                    margin-right: 4px;
                  }
                }
              }
              >section{
                margin: 5px 0;
                line-height: 1.2rem;
              }
              a{
                padding: 3px 15px;
                color: #ffffff;
                border: 1px solid #0CB1AF; 
                background: #0CB1AF;
                transition: 0.2s ease;
                &:hover{
                  background: none;
                  color: #0CB1AF;
                }
              }
          }
      }
    }
    
}

@media (max-width: 768px){

  .thong_tin_them{
    margin-top: 20px;
    padding: 15px;
      .once_thong_tin_them_left{
        margin-bottom: 20px;
        .thong_tin_them_left{
          box-shadow: 0 0 5px 2px rgba(0,0,0,0.25);
        }
      }
      .once_thong_tin_them_right{
        .thong_tin_them_right{
          height: 300px;
          box-shadow: 0 0 5px 2px rgba(0,0,0,0.25);
        }
      }
      
  }
}

@media (max-width: 500px){
  .thong_tin_them{
    padding: 15px;
      .once_thong_tin_them_left{
        .thong_tin_them_left{
          padding: 20px;
          > article{
            font-size: 17px;
          }
          > section{
            font-size: 12px;
          }
        }
      }
      .once_thong_tin_them_right{
        .thong_tin_them_right{
          height: 250px;
            > section{
              padding: 10px;
                > article{
                  font-size: 17px;
                    span{
                      font-size: 12px;
                    }
                }
                >section{
                  font-size: 12px;
                }
            }
        }
      }
      
  }
}




/* ***********************************************************8 */
/* TIN TỨC */

.tin_tuc_home{
  margin-top: 30px;
  padding: 0 30px;
    > article{
      font-size: 30px;
      font-weight: 600;
      line-height: 1.5rem;
      text-transform: uppercase;
      margin-bottom: 20px;
        span{
          font-size: 15px;
          color: #7a7a7a;
          text-transform: none;
        }
    }
    .content_tin_tuc_home{
      > div{
        margin-bottom: 20px;
      }
        .once_content_tin_tuc_home{
            background: #F2FCFB;
            box-shadow: 0 0 10px 4px rgba(0,0,0,0.2);
            padding-bottom: 15px;
            transition: 0.2s ease;
            &:hover{
              box-shadow: 0 0 13px 5px rgba(0,0,0,0.4);
            }
              > article{
                padding: 10px 30px;
                  .once_content_tin_tuc_home_title{
                    font-size: 17px;
                    font-weight: 600;
                    color: #333435;
                    line-height: 1.2rem;
                      span{
                        font-size: 15px;
                        font-weight: 300;
                      }
                  }
                  section{
                    margin-bottom: 7px;
                    font-size: 12px;
                    color: #7a7a7a;
                  }
                  div{
                    color: #333435;
                    font-size: 12px;
                  }
              }
        }
    }
}

@media (max-width: 768px){
  .tin_tuc_home{
  margin-top: 20px;
  padding: 0 15px;
    > article{
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
}


/* ************************************************** */
/* FOOTER */

.footer{
  margin-top: 30px;
  background: #333435;
  color: #ffffff;
    .footer_1{
      padding-top: 30px;
      > div{
        margin-bottom: 20px;
        &:nth-child(1){
          section{
            width: 40%;
            margin: auto;
          }
        }
        &:nth-child(2){
          article{
            font-size: 25px;
            text-align: center;
            margin-bottom: 10px;
          } 
          div{
            ul{
              display: flex;
              justify-content: center;
                li{
                  margin-right: 10px;
                    div{
                      width: 50px;
                      height: 50px;
                      border-radius: 50%;
                      background: #b2b2b2;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      padding: 10px;
                    }
                }
            }
          }
        }
        &:nth-child(3){
          article{
            font-size: 25px;
            text-align: center;
            margin-bottom: 10px;
          } 
          div{
            ul{
              display: flex;
              justify-content: center;
                li{
                  margin-right: 20px;
                    div{
                      width: 50px;
                      height: 50px;
                      border-radius: 5px;
                      background: #b2b2b2;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      padding: 10px;
                    }
                }
            }
          }
        }
      }
    }
    .footer_2{
      margin-top: 30px;
      margin-bottom: 20px;
      > div{
        padding-left: 5%;
        margin-bottom: 20px;
        &:nth-child(4){
          padding-right: 5%;
        }
        article{
          font-size: 20px;
          font-weight: 600;
        }
        ul{
          li{
            a{
              color: #ffffff;
            }
          }
        }

      }
    }
    .copyright{
      border-top: 1px solid #ffffff;
      padding: 5px 0;
      text-align: center;
      width: 60%;
      margin: auto;
    }
}

@media (max-width: 768px){

  .footer{
      .footer_1{
        padding-top: 30px;
        > div{
          margin-bottom: 20px;
          &:nth-child(1){
            section{
              width: 200px;
            }
          }

        }
      }
      .footer_2{
        padding-left: 20px;
      }
      .copyright{
        border-top: 1px solid #ffffff;
        padding: 5px 0;
        text-align: center;
        width: 90%;
        margin: auto;
        font-size: 10px;
      }
  }
}